doctype html
html
  head
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous")
    link(rel="stylesheet" href="/css/app.css")
    title= title + ' - Tokenize Test'
  body
    include ./includes/nav
    .container.mt-5
      block content
    include ./includes/footer
  script(src="/js/main.js")
